.home {
    background-color: #F1E4E6;
    min-width: 1600px;
    height: 764px;
    display: flex;
    justify-content: center;
}

.container-home {
    min-width: 1600px;

}
.home-content {
    
    display: flex;
    justify-content: space-between;
    height: 764px;
}


.content-text {
    width: 800px;
    padding-left: 74px;
    display: flex;
    align-items: center;
}

.content-text-box {
    box-sizing: border-box;
    border: 12px solid #f16d7f;
    border-bottom: none;
    border-right: none;
    border-top: none;
    padding-left: 12px;
}

.brand {
    font-family: 'Lato', serif;
    font-size: 48px;
    line-height: 58px;
    font-weight: 900;
    color: #222222;
}

.luxerious {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    font-family: 'Lato', serif;
}

.fashion {
    font-weight: 700;
    line-height: 44px;
    font-size: 33px;
    color: #f16d7f;
    font-family: 'Lato', serif;
}